{#**
 * PS Legalcompliance
 * Module for PrestaShop E-Commerce Software
 *
 * @author    Markus Engel <info@onlineshop-module.de>
 * @copyright Copyright (c) 2025, Onlineshop-Module.de
 * @license   commercial, see licence.txt
 *#}
{% extends '@Modules/ps_legalcompliance/views/templates/admin/header/moduleheader.html.twig' %}
{% form_theme form '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block content %}
<div class="row justify-content-center cronjobs">
  <div class="col-xl-12">
    <div class="card">
      <h3 class="card-header">
        <i class="material-icons">list</i> {{ 'Cron Queue'|trans({}, 'Modules.Pslegalcompliance.Admin') }}
      </h3>

      <div class="card-body">
        {% if not usingQueue %}
        {{'No stats about the cron queue available'|trans({}, 'Modules.Pslegalcompliance.Admin') }}
        {% else %}
        <table class="table">
          <thead>
            <tr>
              <th>{{'Type'|trans({}, 'Modules.Pslegalcompliance.Admin') }}
              <th>{{'Status'|trans({}, 'Modules.Pslegalcompliance.Admin') }}
              <th>{{'Runtime [s] (avg / min / max)'|trans({}, 'Modules.Pslegalcompliance.Admin') }}
              <th>{{'Count Rows'|trans({}, 'Modules.Pslegalcompliance.Admin') }}
            </tr>
          </thead>
          <tbody>
            {% for statRow in cronQueue %}
            <tr>
              <td>{{ statRow.type }}</td>
              <td>
                {% if statRow.executed == '-1' %}
                {{ 'In Execution'|trans({}, 'Modules.Pslegalcompliance.Admin') }}
                {% elseif statRow.executed == '-1' %}
                {{'Executed'|trans({}, 'Modules.Pslegalcompliance.Admin') }}
                {% else %}
                {{ 'Waiting'|trans({}, 'Modules.Pslegalcompliance.Admin') }}
                {% endif %}
              </td>
              <td>
              {% if statRow.executed == 1 %}
                {{ statRow.average_runtime|round(3, 'floor') }} /
                {{ statRow.min_runtime|round(3, 'floor') }} /
                {{ statRow.max_runtime|round(3, 'floor') }}
              {% else %}
                -- / -- / --
              {% endif %}
              </td>
              <td>{{ statRow.count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-xl-6">
    <div class="card">
      <h3 class="card-header">
        <i class="material-icons">schedule</i> {{ 'Cronjobs'|trans({}, 'Modules.Pslegalcompliance.Admin') }}
      </h3>

      <div class="card-body">
        {% for job in cronJobs %}
        <div class="job">
          <div class="job_header">
            <h2>{{ job.title }}</h2>
            <p>{{ job.description }}</p>
            <a href="#" class="btn btn-sm btn-default job_open">{{ 'Show cronjob properties'|trans({}, 'Modules.Pslegalcompliance.Admin') }}</a>
          </div>
          <div class="job_body" style="display:none;">
            <p>{{ 'Possible cron calls'|trans({}, 'Modules.Pslegalcompliance.Admin') }}:</p>

            <table class="table">
              <thead>
                <tr>
                  <th>{{ 'Method'|trans({}, 'Modules.Pslegalcompliance.Admin') }}</th>
                  <th>{{ 'Call'|trans({}, 'Modules.Pslegalcompliance.Admin') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><b>wget</b></td><td class="wrap monospace">wget {{ job.url_wget }}</td>
                </tr>
                <tr>
                  <td><b>php</b></td><td class="wrap monospace">php {{ job.url_php }}</td>
                </tr>
              </tbody>
            </table>

            {% if job.params is not empty %}
            <p>{{ 'Additional parameters'|trans({}, 'Modules.Pslegalcompliance.Admin') }}:</p>
            <table class="table">
              <thead>
                <tr>
                  <th>{{ 'Name'|trans({}, 'Modules.Pslegalcompliance.Admin') }}</th>
                  <th>{{ 'Values'|trans({}, 'Modules.Pslegalcompliance.Admin') }}</th>
                  <th>{{ 'Description'|trans({}, 'Modules.Pslegalcompliance.Admin') }}</th>
                </tr>
              </thead>
              <tbody>
              {% for param in job.params %}
                <tr>
                  <td>
                    <b class="monospace">{{ param.name }}</b>
                  </td>
                  <td>
                  {% for value, description in param.values %}
                    <b class="cron_param">{{ value }}</b><br>
                    {{ description }}<br>
                    {{ 'Add this'|trans({}, 'Modules.Pslegalcompliance.Admin') }}: <i class="monospace">&amp;{{ param.name }}={{ value }}</i>
                    <br>
                  {% endfor %}
                  </td>
                  <td>{{ param.description}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% endif %}

            <p>
              <a href="#" class="btn btn-default job_close">{{ 'close'|trans({}, 'Modules.Pslegalcompliance.Admin') }}</a>
              <a href="{{ job.url_wget }}" target="_blank" class="btn btn-primary">{{ 'Execute cron \'%cron_name%\' now!'|trans({'%cron_name%': job.title}, 'Modules.Pslegalcompliance.Admin') }}</a>
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-xl-6">
    {{ form_start(form) }}
    <div class="card">
      <h3 class="card-header">
        <i class="material-icons">settings</i> {{ 'Settings'|trans({}, 'Modules.Pslegalcompliance.Admin') }}
      </h3>

      <div class="card-body">
        <div class="form-wrapper">
          {{ form_widget(form) }}
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary">{{ 'Save'|trans({}, 'Modules.Pslegalcompliance.Admin') }}</button>
        </div>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
