{#**
 * PS Legalcompliance
 * Module for PrestaShop E-Commerce Software
 *
 * @author    Markus Engel <info@onlineshop-module.de>
 * @copyright Copyright (c) 2025, Onlineshop-Module.de
 * @license   commercial, see licence.txt
 *#}

{% extends '@Modules/ps_legalcompliance/views/templates/admin/header/moduleheader.html.twig' %}

{% trans_default_domain "Modules.Legalcompliance.Admin" %}

{% form_theme labelForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}
{% form_theme generalForm '@Modules/ps_legalcompliance/views/templates/admin/form_ui_kit.html.twig' %}
{% form_theme cmsForm '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block content %}
  {{ form_start(labelForm, {action: path('legalcompliance_label_save') }) }}
  <div class="card" id="pslegalcompliance_label_form">
    <h3 class="card-header">
      <i class="material-icons">flag</i>
      {{ 'Label Options'|trans }}
    </h3>
    <div class="card-body">
      <div class="form-wrapper">
        {{ form_widget(labelForm) }}
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
      </div>
    </div>
  </div>
  {{ form_end(labelForm) }}

  {{ form_start(generalForm, {action: path('legalcompliance_general_save') }) }}
  <div class="card" id="pslegalcompliance_general_form">
    <h3 class="card-header">
      <i class="material-icons">settings</i>
      {{ 'Features'|trans }}
    </h3>
    <div class="card-body">
      <div class="form-wrapper">
        {{ form_widget(generalForm) }}
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
      </div>
    </div>
  </div>
  {{ form_end(generalForm) }}

  {{ form_start(cmsForm, {action: path('legalcompliance_cms_save') }) }}
  <div class="card" id="pslegalcompliance_cms_form">
    <h3 class="card-header">
      <i class="material-icons">settings</i>
      {{ 'CMS Pages'|trans }}
    </h3>
    <div class="card-body">
      <p>{{ 'Your country\'s legislation may require you to communicate some specific legal information to your customers.'|trans }}</p>
      <p>{{ 'The Legal Compliance module provides the means to indicate legally required informations to your customer, using static pages (some created on purpose by the module). It is your responsibility to fill in the corresponding pages with the required content.'|trans }}</p>
      <p>{{ 'For each of the topics below, first indicate which of your Pages contains the required information:'|trans }}</p>
      <div class="form-wrapper">
        {{ form_widget(cmsForm) }}
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
      </div>
    </div>
  </div>
  {{ form_end(cmsForm) }}
{% endblock %}

{% block extra_javascripts %}
  {{ parent() }}
  <script>
  $(() => {
    window.prestashop.component.initComponents([
      'MultistoreConfigField',
      'TranslatableField',
      'TinyMCEEditor',
      'TranslatableInput',
    ]);
  });
  </script>
{% endblock %}
