{% use '@Modules/ps_legalcompliance/views/templates/admin/form_ui_kit.html.twig' %}

{% block email_checkbox_widget %}
<table class="table accesses">
  <thead>
    <tr>
      <th>
        <span class="title_box">
          <input id="selectall_attach" type="checkbox"/>
          {{ 'Email templates'|trans }}
        </span>
      </th>
      {% for option in data.legal_options %}
      <th class="center fixed-width-xs">
        <span class="title_box">
          <input id="selectall_opt_{{ option.id }}" type="checkbox">
          {{ option.name }}
        </span>
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for mail in data.mails_available %}
    <tr>
      <td><input id="mail_{{ mail.id_mail }}" class="select-all-for-mail" type="checkbox"/></th>&nbsp;{{ mail.display_name }}</td>
      {% for option in data.legal_options %}
        <td class="center">
          <input
            name="attach_{{ mail.id_mail }}_{{ option.id }}"
            id="attach_{{ mail.id_mail }}_{{ option.id }}"
            type="checkbox"
            {% if mail.id_mail in option.list_id_mail_assoc %}checked="true"{% endif %}
          >
        </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
  <tr>
      <td class="td-primary-top"><input id="mail_pdf" class="select-all-for-mail" type="checkbox"/>&nbsp;{{ 'PDF Attachment'|trans }}</td>
      {% for option in data.legal_options %}
          <td class="center td-primary-top">
              <input name="pdf_attachment[{{ option.id }}]" id="attach_pdf_{{ option.id }}" type="checkbox" {% if option.id in data.pdf_attachment %}checked="checked"{% endif %}/>
          </td>
      {% endfor %}
    </tr>
  </tfoot>
</table>
{% endblock %}
