{#**
 * PS Legalcompliance
 * Module for PrestaShop E-Commerce Software
 *
 * @author    Markus Engel <info@onlineshop-module.de>
 * @copyright Copyright (c) 2025, Onlineshop-Module.de
 * @license   commercial, see licence.txt
 *#}

{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content_header %}
  <div class="info_panel" id="info_panel">
    <div class="panel-body">
      <div class="row">
        <div class="info_logo col-md-8 col-lg-6">
          <img class="img-fluid" src="{{ module.path }}logo.png" alt="Logo {{ module.display_name }}" width="64" height="64" />
          <h1>{{ module.display_name_pre }} <span>{{ module.display_name_post }}</span></h1>
          <h2>{{ module.description }} </h2>
          <p>{{ module.description_full }}</p>
        </div>

        <div class="info_author col-md-4 col-lg-6">
          <h2>{{ module.author }} </h2>
          <p>
            {{ 'Gurkcity creates professional and individual modules and addons for PrestaShop onlinestores since 2010.'|trans({}, 'Modules.Legalcompliance.Admin') }}
            {{ 'Get more information from the links below.'|trans({}, 'Modules.Legalcompliance.Admin') }}
          </p>
          <address>
            <table>
              <tbody>
                <tr>
                  <td><i class="material-icons">public</i></i></td>
                  <td>www</td>
                  <td><a href="http://www.onlineshop-module.de">onlineshop-module.de</a></td>
                </tr>
                <tr>
                  <td><i class="material-icons">mail</i></td>
                  <td>E-Mail</td>
                  <td><a href="mailto:info@onlineshop-module.de">info@onlineshop-module.de</a></td>
                </tr>
                <tr>
                  <td><i class="material-icons">key</i></td>
                  <td>{{ 'License key'|trans({}, 'Modules.Legalcompliance.Admin') }}</td>
                  <td><a href="http://www.onlineshop-module.de/lizenz-registrieren" target="_blank">{{ module.license_key }}</a></td>
                </tr>
              </tbody>
            </table>
          </address>
          <p><a href="{{ module.path }}licence.txt" target="_blank">{{ 'Please consider our license disclaimer.'|trans({}, 'Modules.Legalcompliance.Admin') }}</a></p>
        </div>
      </div>
    </div>
    <div class="panel-separator"></div>
    <div class="panel-footer">
      <span>{{ module.display_name }}  v{{ module.version }} / {{ module.gc_module_version }} {{ module.author }}  &copy; {{ "now"|date('Y') }}</span>
      <a href="#"><i class="material-icons">expand_less</i> Info</a>
      <img class="img-fluid" src="{{ module.path }}views/img/logo_shop_module.png" alt="{{ module.author }}" width="210" height="45">
    </div>
  </div>
  {{ parent() }}
{% endblock %}

{% block extra_javascripts %}
  {{ parent() }}
  <script>
    $('#info_panel').after($('#head_tabs'));
  </script>
{% endblock %}

{% block extra_stylesheets %}
  {{ parent() }}
  <style type="text/css">
    .info_panel {
      margin-bottom: 0;
    }

    #head_tabs {
      margin: 0 -0.9375rem 2rem -0.9375rem;
    }
  </style>
{% endblock %}
